<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BooksStore</title>
    <link href="~/css/app-bundle.css" rel="stylesheet" />
    <base href="~/" />
</head>
<body>
<div class="container-fluid px-0">
    @RenderBody()
</div>

<script src="~/dist/js/vendors.bundle.js"></script>
</body>
</html>