@model SortingProperty


    <div class="d-flex justify-content-between">
        <span>@Model.DisplayedName</span>
        @if (Model.DescendingOrder != null)
        {
            @if (Model.DescendingOrder == false)
            {
                <a href="@Model.UrlLink" class="btn btn-sm btn-success">
                    <i class="fas fa-caret-up fa-lg"></i>
                </a>
            }
            else
            {
                <a href="@Model.UrlLink" class="btn btn-sm btn-success">
                    <i class="fas fa-caret-down fa-lg"></i>
                </a>
            }
        }
        else
        {
            <a href="@Model.UrlLink" class="btn btn-sm btn-primary">
                <i class="fas fa-minus"></i>
            </a>
        }
    </div>