@model List<StoreCategoryResponse>

<nav id="sidebar">
    <div class="sidebar-header">
        <a asp-controller="Database" asp-action="ShowInfo">Личный кабинет</a>
    </div>

    <ul class="list-unstyled components">
        <li>
            <a asp-action="ShowBooks" asp-controller="Store"
               asp-route-category="0"
               asp-route-page="1">Все категории</a>
        </li>
        @foreach (var category in Model)
        {
            <li>
                <a asp-action="ShowBooks"
                   asp-controller="Store"
                   asp-route-category="@category.Id"
                   asp-route-page="1">@category.Name</a>
            </li>
        }

    </ul>
</nav>